/* CSS IS USED TO DECORATE / STYLE THE page*/
/* CSS IS For to Decorate  or Style the Click Here Button, Check Mark, Success, Description, Close - Button*/


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: beige;
}

.click-container{

    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    
}
.clickBtn{
    width: 180px;
    height: 50px;
    padding: 12px;
    background-color: lightgray;
    color:black;
    border: 2px solid black;
    border-radius: 8px;
    font-size: medium;
    font-weight: 200;
}

.clickBtn:hover{
    background-color: darkgrey;

}

.modalContainer{
    width: 600px;
    height: 300px;
    padding: 60px 60px;
    background-color: antiquewhite;
    border-radius: 10px;
    text-align: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

     /* For temporary display:none*/
    /*display: flex;*/
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}   

.icon{

  /* width: 100px;
   height: 80px;
   padding: 10px;
   margin: 15px;*/
    margin-bottom: 15px;
   /*margin: 0 auto 20px auto;*/

  /* display: flex; 
   justify-content: center;
   align-items: center;*/
  
   
}

.icon i{
    font-size: 60px;
    font-weight: bold;
    color: green;
    
    

}

.close-container{
    /*width:180px;
    height: 100px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    

}
.closeBtn{
    width: 100px;
    height: 50px;
    padding: 12px;
    margin-top: 20px;
    background-color: lightgray;
    color:black;
    border: 2px solid black;
    border-radius: 8px;
    font-size: medium;
    font-weight: 200;

}
.closeBtn:hover{
    background-color: darkgrey;

}
.successTitle{
    /*width:100px;
    height:50px;
     padding:20px;
     margin:20 px;*/
    margin-bottom: 15px;
    /*display:block;*/

    font-size: 30px;
    color:black;
    font-weight: bold;
    /*gap: 20px;*/

}

/*.modalTitle{
    font-size: 30px;
    color:black;
    font-weight: 20px;
    gap: 20px;
}*/


.description{
    /*width:100px;
    height:50px;
    padding:20px;
    margin:20px;*/
   margin-bottom: 30px;
   /* display:block;*/
  /*  border:*/
}
.message{
    font-size: 20px;
    font-weight: normal;
}
